{% extends 'base.html' %}
{% block content %}

<h1>Delete Customer</h1>
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-auto">
    <p id="delete">Delete customer: {{ customer.fname }} {{ customer.lname }}?</p>
    </div>
    <form method="post" class="col-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a  href="/customers"><button type="button" class="btn btn-secondary">Cancel</button></a>
    </form>
</div>
</div>
    
{% endblock %}
