{% extends 'base.html' %}
{% block content %}

<style>
    .card {
    width: 15rem;
    margin: 1rem;
}

.card-img-top {
    padding: 10px;
    margin: auto;
    width: 95%;
}
</style>

<h1>Products</h1>

<div class="d-flex flex-wrap">
    {% for product in products %}
        <div class="card">
            <a href="{{ product.image_url }}"><img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.image_url }}"></a>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <div class="col-md-">Quantity:</div>
                <div class="col-md-4">
                    <select class="form-select form-select-sm qty-cart" data-product-id="{{ product.id }}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </div>
                <button type="button" value="{{ product.id }}" class="btn btn-primary add-cart" id="add-cart">Add to Cart</button>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $(document).on('click', '.add-cart', function(e){
        e.preventDefault();
        var productID = $(this).val(); // Get the value of the clicked button
        var productQty = $('.qty-cart[data-product-id="' + productID + '"]').val();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: productID,
                product_qty: productQty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            success: function(json){
                console.log(json);
                document.getElementById('cart_quantity').textContent = json.qty;
            },
    
            error: function(xhr, errmsg, err){
                console.error("Error adding to cart:", errmsg);
            }
        });
    });
    </script>
{% endblock %}
