{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-auto card bg-dark text-white p-4 bg-opacity-75">
        <h2 class="text-success text-center">Change Password</h2>
            <hr>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="" class="btn btn-success m-3">Confirm</button>
        </form>
    </div>
    </div>
</div>

{% endblock %}