{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 card bg-dark text-white p-4 bg-opacity-75">
            <h1>Sign Up</h1>
            <hr>
            <div class="row">
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                <button type="" class="btn btn-success m-3 align-self-center">Sign Up!</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}