body{
    background-image: url(body-background-image.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color:burlywood;
    text-align: center;
}

.navbar-brand{
    color:white;
    font-size: xx-large;
}

.navbar-text{
    color:rgb(255, 255, 255);
}

form{
    color: white;
    text-align: center;
}

#delete{
    color:white;
    font-size: larger;
}
